*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2vh;
}

main {
  margin: 1em;
}

main .chart-container {
  margin: 1em 2em;
}

main table {
  margin: 0.5em 1em 1em 0.5em;
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
}

main table th {
  height: 0.8em;
  font-size: 0.7em;
  font-weight: 300;
  background-color: #f1f1f182 !important;
  text-align: left;
  padding: 0 1.5em;
  border: #e8e8e847 0.15px solid;
}

main table tr:not(.table-header) {
  transition: background-color 100ms ease;
  border: #e8e8e8c4 0.25px solid;
}
main table tr:nth-child(odd):not(.table-header) {
  background-color: #e8e8e875;
}
main table tr:nth-child(odd):hover {
  background-color: #e8e8e8c7;
}
main table tr:nth-child(even):hover {
  background-color: #cecece00;
}
main table tr:hover kbd {
  border-color: #bfbfbf;
  background-color: #fcfcfc;
}
main table tr td {
  padding: 0.35em 0.5em;
}
main table tr .key {
  width: 60%;
}
main table tr .value {
  width: 40%;
  text-align: right;
  font-weight: 500;
}
