*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 2vh;
}

#app {
  margin: 1em;
}

.chart-container {
  margin: 1em 2em;
  /* width: 80vw; */
}
